
  <div class="row justify-content-center">
    <div class="col-md-11">

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari1.jpg" class="img-fluid">
          <p class="text-center"> Ferrari F12 Berlinetta 2019 </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari2.jpg" class="img-fluid">
            <p class="text-center"> Ferrari 488 GTB 2016 </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari3.jpg" class="img-fluid">
          <p class="text-center"> Ferrari F-50 </p>
      </a>
      </div>
      

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari4.jpg" class="img-fluid">
          <p class="text-center"> La ferrari </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari5.jpg" class="img-fluid">
            <p class="text-center"> 550 Maranello </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari6.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari6.jpg" class="img-fluid">
          <p class="text-center"> 550 Barchetta </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari7.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari7.jpg" class="img-fluid">
          <p class="text-center"> 575M Maranello </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari8.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari8.jpg" class="img-fluid">
            <p class="text-center"> Ferrari 599 </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari9.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari9.jpg" class="img-fluid">
          <p class="text-center"> 599 GTB Fiorano </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari10.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari10.jpg" class="img-fluid">
          <p class="text-center"> Ferrari SA Aperta </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari11.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari11.jpg" class="img-fluid">
            <p class="text-center"> 599 GTO 2012 </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari12.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari12.jpg" class="img-fluid">
          <p class="text-center"> 599 GTO </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari13.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari13.jpg" class="img-fluid">
          <p class="text-center">  SuperAmerica 45 </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari14.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari14.jpg" class="img-fluid">
            <p class="text-center"> SuperAmerica 45  </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari15.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari15.jpg" class="img-fluid">
          <p class="text-center"> F12 Berlinetta </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari16.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari16.jpg" class="img-fluid">
          <p class="text-center"> Ferrari F12tdf </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari17.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari17.jpg" class="img-fluid">
            <p class="text-center"> Ferrari 812 Superfast </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari18.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari18.jpg" class="img-fluid">
          <p class="text-center"> F355 Spider </p>
      </a>
      </div>


      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari19.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari19.jpg" class="img-fluid">
          <p class="text-center"> 355 F1 </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari20.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari20.jpg" class="img-fluid">
            <p class="text-center"> F430</p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari22.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari22.jpg" class="img-fluid">
          <p class="text-center">ferrari 458 </p>
      </a>
      </div>


      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari23.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari23.jpg" class="img-fluid">
          <p class="text-center"> 458 Speciale </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari24.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari24.jpg" class="img-fluid">
            <p class="text-center"> Ferrari J50 </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari25.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari25.jpg" class="img-fluid">
          <p class="text-center"> Ferrari J50 </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari26.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari26.jpg" class="img-fluid">
          <p class="text-center"> Ferrari J50 </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari27.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari27.jpg" class="img-fluid">
            <p class="text-center"> F8 </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari28.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari28.jpg" class="img-fluid">
          <p class="text-center"> 612 Scaglietti </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari29.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari29.jpg" class="img-fluid">
          <p class="text-center">Califórnia T </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari30.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari30.jpg" class="img-fluid">
            <p class="text-center"> Ferrari FF </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari32.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari32.jpg" class="img-fluid">
          <p class="text-center"> GTC4 Lusso </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari33.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari33.jpg" class="img-fluid">
          <p class="text-center"> Ferrari 288 GTO </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari34.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari34.jpg" class="img-fluid">
            <p class="text-center"> F40 </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari35.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari35.jpg" class="img-fluid">
          <p class="text-center"> F40</p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari36.JPG" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari36.JPG" class="img-fluid">
          <p class="text-center"> F50 </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari37.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari37.jpg" class="img-fluid">
            <p class="text-center"> F50 </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari38.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari38.jpg" class="img-fluid">
          <p class="text-center"> Ferrari Enzo </p>
      </a>
      </div>


      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari39.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari39.jpg" class="img-fluid">
          <p class="text-center">Ferrari GG50 </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari40.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari40.jpg" class="img-fluid">
            <p class="text-center"> Ferrari 575 GTZ Zagato </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari41.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari41.jpg" class="img-fluid">
          <p class="text-center"> Ferrari SP1 </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari42.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari42.jpg" class="img-fluid">
          <p class="text-center">Ferrari P540 Superfast Aperta </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari43.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari43.jpg" class="img-fluid">
            <p class="text-center"> SP12 EPC Concept </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari44.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari44.jpg" class="img-fluid">
          <p class="text-center"> Ferrari SP12 EC </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari45.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari45.jpg" class="img-fluid">
          <p class="text-center"> Ferrari SP12 EC </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari46.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari46.jpg" class="img-fluid">
            <p class="text-center"> Pininfarina Sergio </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari47.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari47.jpg" class="img-fluid">
          <p class="text-center"> Ferrari FFX </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari48.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari48.jpg" class="img-fluid">
          <p class="text-center"> Ferrari F12 TRS </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari49.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari49.jpg" class="img-fluid">
            <p class="text-center"> Ferrari F12 TRS </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrari50.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari50.jpg" class="img-fluid">
          <p class="text-center"> F60 América </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/newFerrari/ferrari51.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrari51.jpg" class="img-fluid">
          <p class="text-center"> Ferrari F80-Concept </p>
        </a>

          <a href="assets/imagens/newFerrari/ferrari52.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/newFerrari/ferrari52.jpg" class="img-fluid">
            <p class="text-center">Ferrari SP38 Deborah </p>
        </a>

        <a href="assets/imagens/newFerrari/ferrarif8tributo.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/newFerrari/ferrarif8tributo.jpg" class="img-fluid">
          <p class="text-center"> Ferrari Purosangue SUV-2022 </p>
      </a>
      </div>    





  </div>
</div>


