
  <div class="row justify-content-center">
    <div class="col-md-11">

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari1.jpg" class="img-fluid">
          <p class="text-center"> Ferrari 125 s 1940 </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari2.jpg" class="img-fluid">
            <p class="text-center"> Ferrari 166 mm 1948 </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari3.jpg" class="img-fluid">
          <p class="text-center"> Ferrari F-50 </p>
      </a>
      </div>
      

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari4.jpg" class="img-fluid">
          <p class="text-center"> 1950 166 Inter Berlinetta </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari5.jpg" class="img-fluid">
            <p class="text-center"> 1953 375 America </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari6.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari6.jpg" class="img-fluid">
          <p class="text-center"> 1953 375 MM </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari7.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari7.jpg" class="img-fluid">
          <p class="text-center"> 1953 250 Europa </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari8.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari8.jpg" class="img-fluid">
            <p class="text-center"> 1953 375 America </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari9.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari9.jpg" class="img-fluid">
          <p class="text-center"> 1954 250 Europa GT </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari10.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari10.jpg" class="img-fluid">
          <p class="text-center"> 1956 410 Superamerica </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari11.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari11.jpg" class="img-fluid">
            <p class="text-center"> ferrari 250 gt berlinetta</p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari12.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari12.jpg" class="img-fluid">
          <p class="text-center"> 250 GT Califórnia Spider</p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari13.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari13.jpg" class="img-fluid">
          <p class="text-center">  250 GT Califórnia SWB </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari14.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari14.jpg" class="img-fluid">
            <p class="text-center"> 250 GT Pininfarina Coupe </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari15.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari15.jpg" class="img-fluid">
          <p class="text-center">  1960 400 Superamerica</p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari16.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari16.jpg" class="img-fluid">
          <p class="text-center"> 1962 330 TRI / LM</p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari17.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari17.jpg" class="img-fluid">
            <p class="text-center"> 1968 275 </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari18.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari18.jpg" class="img-fluid">
          <p class="text-center"> 1964 500 Superfast </p>
      </a>
      </div>


      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari19.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari19.jpg" class="img-fluid">
          <p class="text-center"> 1964 330</p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari20.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari20.jpg" class="img-fluid">
            <p class="text-center"> 365 Daytona</p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari22.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari22.jpg" class="img-fluid">
          <p class="text-center">Ferrari Dino GT </p>
      </a>
      </div>


      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari23.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari23.jpg" class="img-fluid">
          <p class="text-center"> Dino GT </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari24.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari24.jpg" class="img-fluid">
            <p class="text-center"> 208 GTB e GTS </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari25.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari25.jpg" class="img-fluid">
          <p class="text-center"> 328 GTB & GTS </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari26.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari26.jpg" class="img-fluid">
          <p class="text-center"> 308 GTB (GRP) </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari27.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari27.jpg" class="img-fluid">
            <p class="text-center">  1980 GT4</p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari28.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari28.jpg" class="img-fluid">
          <p class="text-center"> 1971 365 </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari29.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari29.jpg" class="img-fluid">
          <p class="text-center">1989 412 </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari30.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari30.jpg" class="img-fluid">
            <p class="text-center"> 365 GT4 BB </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari32.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari32.jpg" class="img-fluid">
          <p class="text-center"> 1986 Testarossa</p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari33.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari33.jpg" class="img-fluid">
          <p class="text-center"> 1986 Testarossa </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari34.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari34.jpg" class="img-fluid">
            <p class="text-center"> 1994 F512 M </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari35.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari35.jpg" class="img-fluid">
          <p class="text-center"> 1994 F512 M</p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari36.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari36.jpg" class="img-fluid">
          <p class="text-center">   1964 250 GTO </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari37.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari37.jpg" class="img-fluid">
            <p class="text-center"> 1992 F40  </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari38.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari38.jpg" class="img-fluid">
          <p class="text-center"> 1992 F40  </p>
      </a>
      </div>


      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari39.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari39.jpg" class="img-fluid">
          <p class="text-center">1954 Ferrari 375 MM Pininfarina "Ingrid Bergman" </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari40.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari40.jpg" class="img-fluid">
            <p class="text-center">Ferrari de 1956 250 GTZ </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari41.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari41.jpg" class="img-fluid">
          <p class="text-center"> 1962 Ferrari 250 GT Drogo </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari42.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari42.jpg" class="img-fluid">
          <p class="text-center">1966 Ferrari 365 P Pininfarina Speciale</p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari43.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari43.jpg" class="img-fluid">
            <p class="text-center"> 1968 Ferrari 250 P5 / P6  </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari44.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari44.jpg" class="img-fluid">
          <p class="text-center"> 1968 Ferrari 250 P5 / P6  </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari45.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari45.jpg" class="img-fluid">
          <p class="text-center"> 1968 Ferrari 250 P5 / P6</p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari46.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari46.jpg" class="img-fluid">
            <p class="text-center"> 1969 Ferrari Sigma Grand Prix </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari47.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari47.jpg" class="img-fluid">
          <p class="text-center"> 1969 Ferrari 365 GT Nart Spider </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari48.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari48.jpg" class="img-fluid">
          <p class="text-center">Ferrari 1969 Pininfarina 512S Berlinetta Speciale </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari49.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari49.jpg" class="img-fluid">
            <p class="text-center"> Ferrari 1969 Pininfarina 512S Berlinetta Speciale </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari50.jpeg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari50.jpeg" class="img-fluid">
          <p class="text-center"> Ferrari 1969 Pininfarina 512S Berlinetta Speciale </p>
      </a>
      </div>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari51.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari51.jpg" class="img-fluid">
          <p class="text-center"> Ferrari 1969 Pininfarina 512S Berlinetta Speciale </p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari52.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari52.jpg" class="img-fluid">
            <p class="text-center">1970 Ferrari Modulo </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari53.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari53.jpg" class="img-fluid">
          <p class="text-center"> 1970 Ferrari Modulo </p>
      </a>

      <div class="row">
        <a href="assets/imagens/oldFerrari/ferrari62.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari62.jpg" class="img-fluid">
          <p class="text-center">  1989 Colani Ferrari Testa d'Oro</p>
        </a>

          <a href="assets/imagens/oldFerrari/ferrari55.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="assets/imagens/oldFerrari/ferrari55.jpg" class="img-fluid">
            <p class="text-center">1972 Ferrari 365 GTB / 4 Daytona Competizione Spider </p>
        </a>

        <a href="assets/imagens/oldFerrari/ferrari56.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="assets/imagens/oldFerrari/ferrari56.jpg" class="img-fluid">
          <p class="text-center"> 1980 Ferrari Pinin </p>
      </a>


      </div>    





  </div>
</div>


