<div class="container">
    <br/>
      <div class="row">
        <div class="row mb-4">

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/LUC3ZdPjKnY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> Ferrari 125s</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/AGp9QqYmkmc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1948 166 MM Barchetta</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/StqfuxPcyOw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1950 166 Inter Berlinetta</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/-g-nQlucAkQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1951 Ferrari 212 Export Vignale Coupe</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/-v5Uk5DyGgc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1951 340 America </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/eEOEk1jBNWA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1953 Ferrari 340/375 MM Berlinetta</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/XOk2fAXIlO0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1953 Ferrari 250 Europa Coupe </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/B057-uZfNos" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center">ferrari 250 gt berlinetta </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/yDNP-cp8ub8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center">  250 GT Califórnia Spider</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/hYCRus1gqS8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 250 GT Pininfarina Coupe</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/zEsvteeW2r4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center">1960 400 Superamerica </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/gQDunAwlw5U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1962 330 TRI / LM</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/VSY0zTLE_HM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> Ferrari 1968 275 GTB</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/9BCKC-PGWZM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> Ferrari 1964 330 </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/5TtvF2uLij4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 365 Daytona</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/65mCfloU4hw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> Ferrari Dino GT </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/SxqsnwKlMqA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 208 GTB e GTS </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/raCciapFd8Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 308 GTB (GRP) </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/ih0eoypmSlg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1989 412</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/9RYH0nhtxb4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1981 512 BB </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/CBvcZBRvrd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1986 Testarossa </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/YcA55RI6wnw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1994 F512 M</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/OfzUD_UJZd0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1992 F40</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/v_3e0zy9GaU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1962 Ferrari 250 GT Drogo</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/zTvQReCbaOY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center">1966 Ferrari 365 P Pininfarina Speciale </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/V_LVwOskje4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1969 Ferrari Sigma Grand Prix</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/ui_eOEifAoQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1969 Ferrari 365 GT Nart Spider </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/Ng5GjTWUAi0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> Ferrari 512S Modulo Pininfarina</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/ryAFszwunLU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> Ferrari 1969 Pininfarina 512S Berlinetta </p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/H-mF5HCiHzs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1980 Ferrari Pinin</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/MBimHC-9-IU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1989 Ferrari Mythos</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/Jzbu8-tP4bc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center"> 1989 Colani Ferrari Testa d'Oro</p>
          </div>

          <div class="col-lg-4">
            <iframe width="360" height="115" src="https://www.youtube.com/embed/OuukhOd-VvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center">  Ferrari FZ93</p>
          </div>
        
        </div>
      </div>
    </div>

    <br/>
    <br/>