<div class="container">
    <br/>
    <div class="row">
      <div class="row mb-4">
        <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/MzdwLJEuB5s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center"> Ferrari 488 GTB</p>
        </div>

         <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/Fwq2qqpl3oU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center">Ferrari 812 Superfast</p>            
        </div>

        <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/0vUvaAUzOcc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center">Ferrari F12 Berlinetta</p>            
        </div>

        <div class="col-lg-4">
        <iframe width="360" height="115" src="https://www.youtube.com/embed/ZUo2oIp5eZY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
          <p class="text-center">Ferrari F-50 </p>            
        </div>

        <div class="col-lg-4"> 
        <iframe width="360" height="115" src="https://www.youtube.com/embed/s-otGWfIoNA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>           
          <p class="text-center"> Ferrari J-50</p>            
        </div>

        <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/irWtU3Q6kOA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center"> 288 GTO</p>       
        </div>


         <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/FkYzxSW5hn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center"> Ferrari FF</p>            
        </div>

        <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/kNM8cMZ6IVM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center"> Ferrari SP 12 EC</p>            
        </div>

        <div class="col-lg-4">  
        <iframe width="360" height="115" src="https://www.youtube.com/embed/vo-kA3c6w6E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          
          <p class="text-center"> Ferrari F12-TRS</p>            
        </div>

         <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/Z-4v4I7Gzk0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center">Ferrari Enzo </p>            
        </div>

        <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/yXQvgX5cMFM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center">Pininfarina Sergio</p>            
        </div>

        <div class="col-lg-4"> 
        <iframe width="360" height="115" src="https://www.youtube.com/embed/191A582hai0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>           
          <p class="text-center"> Ferrari FFX</p>            
        </div>

         <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/b8b2Ad2CJaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center"> Ferrari Monza SP1</p>            
        </div>

        <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/GAnLM_sndt0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center">599 GTO 2012 </p>            
        </div>

        <div class="col-lg-4">            
          <iframe width="360" height="115" src="https://www.youtube.com/embed/-dT-fuDNW-E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center">SuperAmerica 45 </p>            
        </div>

         <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/h4ywL0CPzwk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center">Ferrari 575M Maranello </p>            
        </div>

        <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/YLVBL5GOGEo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center"> Ferrari Purosangue</p>            
        </div>

        <div class="col-lg-4">           
        <iframe width="360" height="115" src="https://www.youtube.com/embed/rMqXhiXz5N8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
          <p class="text-center"> Ferrari SP38 Deborah</p>            
        </div>

         <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/iRsV6YpLsKA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center">La ferrari </p>            
        </div>

        <div class="col-lg-4">
          <iframe width="360" height="115" src="https://www.youtube.com/embed/-zlyWYykOfI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-center">Ferrari 599 GTB Fiorano </p>            
        </div>

        <div class="col-lg-4">
        <iframe width="360" height="115" src="https://www.youtube.com/embed/5bFiSeRDcrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
          <p class="text-center">550 Maranello  </p>            
        </div>       
      </div>
    </div>
  </div>

  <br/>
  <br/>