<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow" style="width: 20rem;">
          <a routerLink="/classicos_ferrari">
          <img class="card-img-top" alt="card img cap" src="assets/imagens/historia/ferrari125.jpg">
          </a>
          <div class="card-body text-center">
            <h2 class="card-title">Ferrari 125 s V12 1940</h2>
            <p class="card-text">A Ferrari 125 S foi o primeiro carro construído pela Ferrari para disputar as corridas daquela época, corria com um motor V12 de 116 hp que chegava a 155 Km/h depois veio o sucessor 159 S e em 1952 surgiu o primeiro carro de rua da marca.</p>
            <a routerLink="/historia_ferrari" class="btn btn-info">História Ferrari...</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow" style="width: 20rem;">
          <a routerLink="/classicos_porsche">
          <img class="card-img-top" alt="card img cap" src="assets/imagens/historia/porschetype64 .jpg">
          </a>
          <div class="card-body text-center">
            <h2 class="card-title">Porsche Type 64-1939</h2>
            <p class="card-text">O Porsche 64 , também conhecido como Tipo 64 e Tipo 60K10 , é considerado por muitos como o primeiro automóvel do que viria a ser a empresa Porsche , e um verdadeiro precursor de design para o modelo de produção do pós-guerra. O número do modelo foi construído principalmente a partir de desenhos de projeto para o Type-64 "record car". A maioria das peças mecânicas veio da série de 38 protótipos.</p>
            <a routerLink="/historia_porsche" class="btn btn-info">História Porsche...</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow" style="width: 23rem;">
          <a routerLink="/classicos_lamborghini">
          <img class="card-img-top" alt="card img cap" src="assets/imagens/historia/lamborguini350gtv.jpg">
          </a>
          <div class="card-body text-center">
            <h2 class="card-title">Lamborghini GT V12 1963</h2>
            <p class="card-text"> O Lamborghini 350 GTV foi um protótipo da Lamborghini e precursor de seu primeiro modelo de produção, o 350 GT , apresentado ao público no Salão do Automóvel de Turim de 1963 . O corpo da 350 GTV foi projetado por Franco Scaglione e construído pela Carrozzeria Sargiotto em Turim. Giorgio Neri e Luciano Bonacini construíram o chassi em Modena .Giotto Bizzarrini desenvolvido um 3,5  litro cárter seco corrida-especificação motor V12 , com uma potência de 255  kW (347  PS ; 342  cv ) a 8.000 rpm e binário de 326  N⋅m (240  lbf⋅ft ), usando o DINpadrão de medição, para uso no carro. </p>
            <a routerLink="/historia_lamborghini" class="btn btn-info">Historia Lamborguini...</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br/><br/>